{% extends 'base.html.twig' %}

{% block title %}Create New FicheFrais{% endblock %}

{% block body %}
    <div class="container mx-auto my-8 p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-3xl font-semibold text-gray-800 mb-6">Create New FicheFrais</h1>

        <div class="mb-6">
            {{ include('fiche_frais/_form.html.twig') }}
        </div>

        <div class="mt-6">
            <a
                    href="{{ path('app_fiche_frais_index') }}"
                    class="inline-block px-6 py-2 bg-gray-500 text-white font-medium rounded-md hover:bg-gray-600 focus:outline-none focus:ring focus:ring-gray-300 transition duration-150"
            >
                Back to List
            </a>
        </div>
    </div>
{% endblock %}
